<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erdin.connectin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_connect"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_connect_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity" android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"/>
        <activity
            android:name=".auth.RegisterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".BoardActivity"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".engineers.EngineerDetailsActivity"
            android:label="@string/title_activity_profile"/>
        <activity
            android:name=".hiring.AddHireActivity"
            android:label="@string/title_add_hire" />
        <activity
            android:name=".offers.OfferDetailsActivity"
            android:label="@string/title_offer_details" />
        <activity
            android:name=".projects.ProjectDetailsActivity"
            android:label="@string/title_project_details" />
        <activity
            android:name=".projects.AddProjectActivity"
            android:label="@string/title_add_project" />
    </application>

</manifest>